<div class="center">  
  <h1>Not Everyone Likes Burgers...</h1>

  {{!-- UNEATED --}}
  <div id="uneaten">
    <h2>Yummy Cupcakes</h2>

    <ul>
      {{!-- each = for loop --}}
      {{#each cupcakes}}
        {{!-- unless = else in the if/else statement --}}
        {{#unless this.devoured}}
          <li>
            {{!-- running the put(update db) method override --}}
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              {{!-- submit button starts the function then runs the put method --}}
              <button type="submit" class="btn">{{this.cupcake_name}}</button>
            </form>

          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  {{!-- DEVOURED --}}
  <div id="eaten">
    
    <h2>In My Tum-tum</h2>

    <ul>
      {{#each cupcakes}}
        {{#if this.devoured}}
          <li>

            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="false">
              <button type="submit" class="btn">{{this.cupcake_name}}</button>
            </form>

          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

  {{!-- ADD CUPCAKE --}}
  <div class="center" id="add">

    <h2>Add a Cupcake</h2>

    <form class="create-update-form" action="/" method="POST">

      <div class="form-group">
        <label for="cupcake" id="cupcake-name">Cupcake Name:</label>
        <input type="text" id="cupcake" name="name">
      </div>

      <button type="submit" class="btn">Add Cupcake</button>
    </form>

  </div>

</div>