<h1>Not Everyone Likes Burgers...</h1>

<h2>Yummy Cupcakes</h2>

<ul>
  {{!-- each = for loop --}}
  {{#each cupcakes}}
    {{!-- unless = else in the if/else statement --}}
    {{#unless this.devoured}}
      <li>
        {{this.cupcake_name}}
        {{!-- running the put(update db) method override --}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          {{!-- submit button starts the function then runs the put method --}}
          <button type="submit">Devour</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Cupcake Crums</h2>

<ul>
  {{#each cupcakes}}
    {{#if this.devoured}}
      <li>
        {{this.cupcake_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
        </form>

      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cupcake</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Cupcake Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Cupcake</button>
</form>
