<div class="txtCntr">  
  <div class="jumbotron">
    <h1 class="display-3">Not Everyone Likes Burgers...</h1>
  </div>

  {{!-- UNEATED --}}
  <div class="">
    <h2 class="margTitle">Yummy Cupcakes</h2>
    
      {{!-- each = for loop --}}
      {{#each cupcakes}}
        {{!-- unless = else in the if/else statement --}}
        {{#unless this.devoured}}
          
          {{!-- running the put(update db) method override --}}
          <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            {{!-- submit button starts the function then runs the put method --}}
            <button type="submit" class="btn btn-primary margBtn">{{this.cupcake_name}}</button>
          </form>

        {{/unless}}
      {{/each}}
    
  </div>

  {{!-- DEVOURED --}}
  <div>
    
    <h2 class="margTitle">In My Tum-tum</h2>

      {{#each cupcakes}}
        {{#if this.devoured}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="false">
              <button type="submit" class="btn btn-outline-primary margBtn" disabled>{{this.cupcake_name}}</button>
            </form>

        {{/if}}
      {{/each}}

  </div>

  {{!-- ADD CUPCAKE --}}
  <div class="center" id="add">

    <h2 class="margTitle">Add a Cupcake</h2>

    <form class="create-update-form" action="/" method="POST">

      <div class="form-group row margForm">
        <label for="cupcake" class="col-sm-2 col-form-label">Cupcake Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="cupcake" placeholder="What are you craving?">
        </div>
      </div>

      <button type="submit" class="btn">Add Cupcake</button>
    </form>

  </div>

</div>