.center {
	margin: 0px;
	width:100%;
	text-align: center;
}
h1 {
	margin: 0 auto;
	font-family: 'Rock Salt', cursive;
	color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #F33;
	font-size: 60px;
	font-weight: bolder;
	word-spacing: 0.5em;
	letter-spacing: 0.15em;
	background: url("../images/hamburger.svg") no-repeat;
	background-position: center;
}

h2 {
	font-family: 'Permanent Marker', cursive;
	color: #F33;
   -webkit-text-fill-color: #531;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #F33;
   font-size: 30px;
   margin-bottom: 0px;

}

h3 {
	margin-top: 0px;
	font-family: arial;
	font-weight: normal;
	color: #444;
	font-size: 14px;
	font-style: italic;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;
}

.btn {
	background-color: #aa5; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
}

#uneaten{
	text-align: center;
	float: left;
	margin-left: 450px;
}

#eaten {
	text-align: center;
	float: right;
	margin-right: 450px;
}

#add {
	clear: both;
	padding-top: 20px;
}

label {
	font-size: 16px;
	font-family: arial;
}

.add {
	font-family: arial;
}

#burger-name {
	letter-spacing: .1em;
	color: #555;
}

#eatenTitle {
	margin-top: 10px;
	font-style: italic;
	letter-spacing: .1em;
	color: #555;
}

.radio {
	margin: 5px;
	color: #F22;
}